* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#map {
  height: calc(100vh - 132px);
  width: 100vw;
}
aside {
  padding: 16px;
  height: 100px;
  text-align: center;
}
.side-by-side {
  display: flex;
  justify-content: space-between;
}

.leaflet-popup-content {
  /* eslint-disable-next-line css/no-important */
  margin: 25px !important;
  /* eslint-disable-next-line css/no-important */
  padding: 0 !important;
  font-size: large;

  text-align: center;
}

button.nice {
  padding: 8px;
}
button.small {
  padding: 0px 2px;
  margin-left: 2px;
}
button.small:active,
button.nice:active {
  transform: scale(0.9);
}

kbd {
  padding: 0.2rem 0.4rem;
  border-radius: 0.2rem;
  background: #f2f2f2;
  font-size: 87.5%;
  color: #e83e8c;
}
kbd a {
  text-decoration: none;
  color: inherit;
}

.popup-text {
  font-size: 18px;
}

dialog {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 24px;
  margin: auto;
  z-index: 500;
}

dialog li {
  padding: 4px;
}
